@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

body {
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
    line-height: 1.6em;
    @include font-24;
    color: $white;
    position: relative;
    background-color: #000000;
    background-image: url("../img/naruto__bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}
.snowfall-container {
    position: absolute;
    top: -5%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
p {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
   transition: all .3 ease-in-out;
}

@media(min-width:1440px){
    .container {
        max-width: 1320px;
     }
       
}
.container {
   max-width: 1200px;
   margin: 0 auto;
}

.boxed__btn{
    color: $FB0201;
    @include font-24;
    line-height: 160%;
    border-radius: 16px;
    border: 1.192px solid #FDC7A5;
    background: #FFEE9D;
    box-shadow: 0px 6.55833px 35px 0px #FF7E49, 5.36591px 5.36591px 32.79167px 0px rgba(254, 150, 92, 0.55) inset, -5.36591px -5.36591px 32.79167px 0px rgba(255, 126, 54, 0.55) inset;
    display: inline-block;
    padding:16px 104px;
    margin: 0 auto;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    @include sm{
        padding:12px 64px;
        border-radius: 8px;
    }
}


.boxed__btn:hover{
    color: #fff;
    border: 1.192px solid #fff;
    background: rgba(214, 157, 128, 0.21);
    backdrop-filter: blur(1.7886364459991455px);
}

