.heading {
    text-align: center !important;
    margin-top: 72px;
    @include sm {
        margin-top: 35px;
    }
    & .site__logo img{
        max-width: 319px;
    }

    @include mmd{
        margin-top: 50px;
        & .site__logo img{
            max-width: 250px;
        }
    }

    @include sm{
        & .site__logo img{
            max-width: 196px;
        }
    }
}
.header__logo{
    text-align: center !important;
}