/* Banner CSS */

.banner {
    padding-top: 70px;
    padding-bottom: 152px;
    z-index: 1;
    max-width: 810px;
    margin:0 auto;
    @include sm {
        padding-top: 215px;
        padding-bottom:30px;
    }
    &-content {
        text-align: center;
        & span {
            color: $FB0201;

        }
        @include sm{
            max-width: 480px;
            margin: 0 auto;
        }
        @include ssm{
            max-width: 351px;
        }
        & .social__links{
            margin-top: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 455px;
            margin: 0 auto;
            margin-top: 56px;
            gap: 24px;
            @include sm{
            gap: 16px;
            margin-top: 40px;
            max-width: 316px;
            }
                & a{
                    border-radius: 8px;
                    border: 1.491px solid #FDB297;
                    background: rgba(214, 157, 128, 0.21);
                    backdrop-filter: blur(1.7886364459991455px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding:12px 32px;
                    color: $D0C8C8;
                    @include font-16;
                    transition: all .3s ease;
                    max-width: 215px;
                    & img{
                        width: 24px;
                        margin-right: 16px;
                        height: 24px;
                        object-fit: contain;
                        @include sm{
                           width: 18px;
                           margin-right: 10px;
                        }
                    }
                    @include sm{
                        font-size: 16px;
                        padding:8px 22px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 8px;
                        border: 1.5px solid #FFAF94;
                        max-width: 150px;
                    }
                    @include ssm{
                        text-align: center;
                    }
                }
                & a:hover{
                    color: #fff;
                    border-color: #fff;
                }
        }
        & .boxed__btn{
            margin-bottom: 40px;
            @include sm{
                margin-bottom: 24px;
            }
        }
        & .copytoclipboard{
            border-radius: 8px;
            border: 1.491px solid #FFAF94;
            background: rgba(214, 157, 128, 0.21);
            backdrop-filter: blur(1.7886364459991455px);
            padding: 12px 24px; 
            display: inline-block;
            margin-top: 48px;
            padding-top: 8px;
            @include sm{
                margin-top: 24px;
                padding: 12px 30px; 
                padding-top: 8px;
            }
            & input{
                min-width: 357px;
                background: none;
                border: 0;
                color: #B0B0B0;
                @include font-16;
                outline: none;
                @include sm{
                    min-width: 220px;
                    font-size: 12px;
                }
            }
  
            & button {
                background: transparent;
                border: 0;
                margin-left: 16px;
                color: #B0B0B0;
                transition: .3s;
                cursor: pointer;
                & span.coppied svg {
                    fill: #fff;
                }
                & span.coppied {
                    position: absolute;
                }
                @include sm{
                    margin-left: 5px;

                }
            }
            & button:hover {
                color: $white;
            }
        }
    }
    
}


/* Banner CSS */
