/* Banner CSS */

.banner {
    padding-top: 1078px;
    padding-bottom: 212px;
    position: relative;
    background-image: url("../img/naruto__bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    z-index: 1;
    &::before{
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 372.454px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 15.33%, #0C0A09 100%);
        z-index: -1;
    }
    @include lg {
        padding-top: 768px;
        padding-bottom:120px;
    }
    @include mmd {
        padding-top: 576px;
        padding-bottom:100px;
    }
    @include sm {
        padding-top: 384px;
        padding-bottom:80px;
        background-size: 100% auto;
        background-position: top center;
    }
    &-content {
        & span {
            color: $FB0201;

        }
        @include sm{
            max-width: 480px;
            margin: 0 auto;
        }
        @include ssm{
            max-width: 351px;
        }
        & .social__links{
            margin-top: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 700px;
            margin: 0 auto;
            margin-top: 56px;
            gap: 40px;
            @include sm{
            gap: 16px;
            margin-top: 40px;
            max-width: 316px;
            }
                & a{
                    border-radius: 16px;
                    border: 2.5px solid #FFAF94;
                    background: rgba(214, 157, 128, 0.02);
                    backdrop-filter: blur(7.5px); 
                    display: inline-block;
                    padding:16px 64px;
                    color: $white;
                    @include font-28;
                    line-height: 1.6em;
                    transition: all .3s ease;
                    max-width: 330px;
                    display: inline-block;
                    & img{
                        width: 40px;
                        margin-right: 24px;
                        @include sm{
                           width: 18px;
                           margin-right: 10px;
                        }
                    }
                    @include sm{
                        font-size: 16px;
                        padding:14px 28px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        border: 1.5px solid #FFAF94;
                        max-width: 150px;
                    }
                    @include ssm{
                        text-align: center;
                    }
                }
                & a:hover{
                    border: 2.5px solid $FB0201;
                    color: $FB0201
                }
        }
        & .boxed__btn{
            margin-bottom: 40px;
            @include sm{
                margin-bottom: 24px;
            }
        }
        & .copytoclipboard{
            border-radius: 16px;
            border: 2.5px solid #56483F;
            background: rgba(214, 157, 128, 0.02);
            backdrop-filter: blur(7.5px);
            padding: 26px 64px; 
            display: inline-block;
            margin-top: 80px;
            @include sm{
             display: none;

            }
            & input{
                min-width: 505px;
                background: none;
                border: 0;
                color: #B0B0B0;
                @include font-28;
                outline: none;
            }
            & input::focus{
                outline: none !important;
                border-color:transparent !important;
            }
            & input:hover {
                caret-color: transparent;
            }
  
            & button {
                background: transparent;
                border: 0;
                margin-left: 24px;
                color: #B0B0B0;
                transition: .3s;
                & span.coppied svg {
                    fill: #fff;
                }
                & span.coppied {
                    position: absolute;
                }
            }
            & button:hover {
                color: $white;
            }
        }
    }
    
}


/* Banner CSS */
