@mixin font-24 {
    font-size: 24px;
    font-weight: 400;
    line-height: 160%;
    @include sm {
        font-size: 22px;
    }
}

@mixin font-16 {
    font-size: 16px;
    line-height: 160%;
    @include sm {
        font-size: 16px;
    }
}
